# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

jobs:
  build:
    docker:
    - image: circleci/python:3.10
    steps:
    - run: python -m pip install --upgrade pip
    - run: pip install -r requirements.txt
    - run: python main.py

